.imageWrapper {
  margin-bottom: 10px;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}

.btn {
  height: 20px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.textarea {
  height: 50px;
  font-size: 13px!important;
}
